.DS_Store
.idea
.vscode
*.ai
*.log
*.pdf
*.psd
*.sublime*
node_modules/
npm-debug.*
source/css/*.css
source/css/*.map
source/test.html
source/sass/test.scss
source/retest.html
source/sass/retest.scss
source/js/jquery.js
source/js/retest.js
source/js/slick.js
Thumbs.db
