.accordion__item:not(:last-child) {
  border-bottom: 1px solid $brown;
}

.accordion__control {
  position: relative;
  display: block;
  cursor: pointer;
  font-weight: 500;

  &::after {
    position: absolute;
    content: "";
    width: 17px;
    height: 10px;
    right: 50px;
    top: 45px;
    background-image: url("../img/icon-shevron.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
    outline: none;
  }

  &:focus {
    background: linear-gradient(#e6bea8, #ffffff);
  }

  @media (max-width: $tablet-max-width) {
    &::after {
      width: 25px;
      height: 14px;
      right: 25px;
    }
  }

  @media (max-width: $mobile-max-width) {
    &::after {
      width: 20px;
      height: 10px;
    }
  }
}

.accordion__item--active .accordion__control::after {
  transform: rotate(180deg);
  transition: all 0.4s ease;
}

.accordion__item .accordion__control::after {
  transition: all 0.4s ease;
}

.accordion__panel {
  display: block;
  box-sizing: border-box;
  transition: all 0.4s ease;
  overflow: hidden;
}
