.carousel {
  max-width: 1170px;
  padding: 0 60px;
  margin: 0 auto;

  @media (max-width: $tablet-max-width) {
    max-width: 678px;
    padding: 0 45px;
  }

  @media (max-width: 600px) {
    max-width: 290px;
    padding: 0 15px;
  }
}


.carousel__button-prev,
.carousel__button-next {
  top: 3px;
  border: none;
  width: 50px;
  height: 20px;
  background-color: transparent;
  color: $brown;
  cursor: pointer;

  &:focus::before,
  &:hover::before {
    background-color: $text-basic;
  }

  @media (max-width: 600px) {
    display: none;
  }
}

.swiper__button-disabled {
  opacity: 0.4;
}

.carousel__button-prev {
  position: absolute;
  // left: 7px;
  left: 2px;
  color: inherit;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 10px;
    left: 0;
    top: 5px;
    mask-image: url("../img/icon-left-flash.svg");
    mask-repeat: no-repeat;
    mask-position: 0 0;
    background-color: $brown;
  }

  @media (max-width: $tablet-max-width) {
    &::before {
      top: 2px;
      width: 36px;
      height: 15px;
      mask-image: url("../img/icon-left-flash-tablet.svg");
    }
  }
}

.carousel__button-next {
  position: absolute;
  right: 2px;
  color: inherit;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 20px;
    right: 0;
    top: 5px;
    mask-image: url("../img/icon-right-flash.svg");
    mask-repeat: no-repeat;
    mask-position: 0 0;
    background-color: $brown;
  }

  @media (max-width: $tablet-max-width) {
    &::before {
      top: 2px;
      width: 36px;
      height: 15px;
      mask-image: url("../img/icon-right-flash-tablet.svg");
    }
  }
}

.carousel__container {
  width: 100%;
  height: 100%;
  padding-top: 110px;

  @media (max-width: 1290px) {
    width: 870px;
    margin: 0 auto;
  }

  @media (max-width: $tablet-max-width) {
    padding-top: 100px;
    width: 678px;
  }

  @media (max-width: $mobile-max-width) {
    padding-top: 90px;
    width: 290px;
  }
}

.carousel__slide-wrapper {
  padding-bottom: 160px;

  @media (max-width: 1290px) {
    // width: 870px;
  }

  @media (max-width: $tablet-max-width) {
    padding-bottom: 150px;
  }
}

.carousel__slide {
  a {
    text-decoration: none;
    color: inherit;

    &:hover img,
    &:focus img,
    &:hover figcaption,
    &:focus figcaption {
      opacity: 0.7;
    }
  }

  figure {
    width: 270px;
    height: 284px;
    margin: 0;
  }

  img {
    width: 270px;
    height: 284px;
    // object-fit: cover;
  }

  figcaption {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    margin: 20px 0 0;

    p {
      margin: 0;
    }

    p + p {
      font-weight: 700;
      margin: 5px 0 0;
    }
  }

  @media (max-width: $tablet-max-width) {
    figure {
      width: 324px;
      height: 340px;
    }

    img {
      width: 324px;
      height: 340px;
    }
  }

  @media (max-width: $mobile-max-width) {
    figure {
      width: 130px;
      height: 136px;
    }

    img {
      width: 130px;
      height: 136px;
    }

    figcaption {
      margin: 15px 0 0;
    }
  }
}

.carousel__pagination span {
  width: 15px;
  height: 30px;
  color: black;
  border-radius: 0;
  background-color: transparent;
}

.carousel__link {
  position: relative;
  cursor: pointer;
  padding-bottom: 30px;
  margin-bottom: -80px;
  z-index: 2;
}
