.carousel {
  max-width: 1170px;
  padding: 0 60px;
  margin: 0 auto;

  @media (max-width: $tablet-max-width) {
    max-width: 678px;
    padding: 0 45px;
  }

  @media (max-width: 600px) {
    max-width: 290px;
    padding: 0 15px;
  }
}

.carousel__button-prev,
.carousel__button-next {
  top: 2px;
  border: none;
  width: 50px;
  height: 20px;
  background-color: transparent;
  color: $brown;
  cursor: pointer;

  &:focus {
    outline: 2px solid $brown;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.carousel__button-prev {
  position: absolute;
  left: 7px;
  color: inherit;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 10px;
    left: 0;
    top: 5px;
    mask-image: url("../img/icon-left-flash.svg");
    mask-repeat: no-repeat;
    mask-position: 0 0;
    background-color: $brown;
  }

  &:hover {
    transform: translateX(-5px);
    transition: all 0.4 ease;
  }
}

.carousel__button-next {
  position: absolute;
  right: 7px;
  color: inherit;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 20px;
    right: 0;
    top: 5px;
    mask-image: url("../img/icon-right-flash.svg");
    mask-repeat: no-repeat;
    mask-position: 0 0;
    background-color: $brown;
  }

  &:hover {
    transform: translateX(5px);
    transition: all 0.4 ease;
  }
}

.carousel__container {
  width: 100%;
  height: 100%;
  padding-top: 70px;
  margin-top: -30px;
}

.carousel__slide-wrapper {
  padding-bottom: 130px;
}

.carousel__slide {
  a {
    text-decoration: none;
    color: inherit;
  }

  figure {
    width: auto;
    height: 284px;
    margin: 0;
  }

  img {
    width: 270px;
    height: 284px;
    object-fit: cover;
  }

  figcaption {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: center;

    p + p {
      font-weight: 700;
    }
  }

  @media (max-width: $tablet-max-width) {
    figure {
      height: 340px;
    }

    img {
      width: 324px;
      height: 340px;
    }
  }

  @media (max-width: 600px) {
    figure {
      height: 136px;
    }

    img {
      width: 130px;
      height: 136px;
    }
  }
}

.carousel__pagination span {
  width: 15px;
  height: 30px;
  color: black;
  border-radius: 0;
  background-color: transparent;
}

.carousel__link {
  cursor: pointer;
  padding-bottom: 30px;
  z-index: 100;
}
