.catalog {
  grid-row: 2 / 8;
  grid-column: 3 / 4;
  padding-top: 80px;

  @media (max-width:  $tablet-max-width) {
    padding-top: 50px;
  }
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 40px;
  grid-column-gap: 30px;
  max-width: 870px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog__item {
  display: grid;
}

.catalog__item figure {
  width: 100%;
  height: 272px;

  @media (max-width:  $tablet-max-width) {
    height: 208px;
  }
}

.catalog__item img {
  width: 270px;
  height: 272px;
  object-fit: cover;

  @media (max-width:  $tablet-max-width) {
    width: 206px;
    height: 208px;
  }
}

.catalog__item p {
  margin: 0;
  padding: 0;
  text-align: center;
}


