.catalog-main {
  display: grid;
  grid-template-columns: 1fr minmax(320px, 1290px) 1fr;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    bottom: 132px;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: #f6f5f4;
  }
}

.catalog-main__wrapper {
  grid-row: 1 / 2;
  grid-column: 1 / 5;
  background-image: url("../img/bg-top-catalog-desktop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 261px;
  background-color: #5f4131;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-top-catalog-desktop@2x.jpg");
  }

  @media (max-width: $tablet-min-width) {
    background-image: url("../img/bg-top-catalog-tablet.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-top-catalog-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-max-width) {
    // height: 500px;
  }

  @media (max-width: $mobile-min-width) {
    background-image: url("../img/bg-top-catalog-mobile.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-top-mobile@2x.jpg");
    }
  }
}

.catalog-main__title {
  font-family: "Cormorant Garamond", "Georgia", serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  font-size: 34px;
  line-height: 130%;
  // letter-spacing: 0.03em;
  color: #ffffff;
  padding-top: 92px;
  text-align: center;
  margin: 0;

  @media (max-width: $mobile-max-width) {
    width: auto;
    padding: 92px 25px 0;
  }
}

.catalog-main__subtitle {
  font-family: "Cormorant Garamond", "Georgia", serif;
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  text-align: center;
  color: #ffffff;
  margin: 0;

  @media (max-width: $mobile-max-width) {
    width: auto;
    padding: 0 30px;
  }
}

.catalog-main__filter-catalog {
  display: grid;
  grid-template-columns: minmax(220px 250px) 3fr;
  justify-content: space-between;
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  padding: 80px 60px 75px;

  @media (max-width: $tablet-max-width) {
    display: block;
    max-width: 678px;
    margin: 0 auto;
    padding: 50px 45px 75px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 40px 15px 70px;
  }
}

.catalog-main__filter {
  padding-right: 30px;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  min-width: 220px;

  @media (max-width: $tablet-max-width) {
    padding-right: 0;
  }
}

.catalog-main__catalog {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}
