.faq {
  padding-left: 98px;
  padding-right: 98px;
  margin: 0 auto 103px;

  @media (min-width: $beyond-desktop-width) {
    max-width: 970px;
  }

  @media (max-width: $tablet-max-width) {
    padding-left: 45px;
    padding-right: 45px;
    margin: 0 auto 70px;
  }

  @media (max-width: $mobile-max-width) {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto 54px;
  }
}

.faq__title {
  font-family: "Cormorant Garamond", "Georgia", serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 130%;
  text-align: center;
  text-transform: none;
  letter-spacing: 0.03em;
  margin: 0 0 50px;

  @media (max-width: $mobile-max-width) {
    margin: 0 0 32px;
  }
}

.faq__inner {
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #a87b62;
}

.faq__item {
  padding-top: 47px;
  padding-bottom: 42px;

  @media (max-width: $mobile-max-width) {
    padding-top: 15px;
    padding-bottom: 23px;
  }
}

.faq__item-title {
  padding-left: 38px;
  font-size: 18px;

  @media (max-width: $tablet-max-width) {
    padding-left: 50px;

    &::after {
      right: 50px;
    }
  }

  @media (max-width: $mobile-max-width) {
    box-sizing: border-box;
    width: 100%;
    padding-left: 25px;
    padding-right: 60px;
    font-size: 16px;
    line-height: 140%;

    &::after {
      right: 27px;
      bottom: none;
      top: 5px;
      width: 22px;
      height: 12px;
    }
  }
}

.faq__item-content {
  width: 540px;
  padding-left: 50px;
  padding-top: 12px;

  @media (max-width: $mobile-max-width) {
    width: 100%;
    padding-left: 25px;
    padding-right: 60px;
    font-size: 14px;
    line-height: 140%;
  }
}

.faq__item:not(:last-child) {
  border-bottom: 1px solid $brown;
}
