.filter-item {
  border-left: 1px solid $brown;
  border-right: 1px solid $brown;
  border-bottom: 1px solid $brown;
  padding-bottom: 20px;

  &:first-child {
    border-top: 1px solid $brown;
  }

  @media (max-width: $tablet-max-width) {
    border-left: 0;
    border-right: 0;

    &:first-child {
      border-top: 0;
    }
  }
}

.filter-item__control {
  padding: 25px 0  0 25px;

  &::after {
    right: 25px;
  }
}

.filter-item__control h3 {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.filter-item__panel {
  padding: 20px 25px 0;
}

.filter-item input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-item label {
  display: block;
  position: relative;
  padding-left: 35px;
  padding-bottom: 10px;
  cursor: pointer;
  font-weight: 500;
  line-height: inherit;
  font-size: 14px;

  &::before {
    position: absolute;
    content: "";
    left: 10px;
    top: 3px;
    width: 15px;
    height: 15px;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid $brown;
  }
}

.filter-item input[type="checkbox"]:checked + label::before {
  background-color: $brown;
}

.filter-item input[type="checkbox"]:checked:hover + label::before,
.filter-item input[type="checkbox"]:checked:focus + label::before,
.filter-item input[type="checkbox"]:hover + label::before,
.filter-item input[type="checkbox"]:focus + label::before {
  opacity: 0.9;
}

.filter-item input[type="checkbox"]:checked:active + label::before,
.filter-item input[type="checkbox"]:active + label::before {
  opacity: 0.7;
}


.filter-item input[type="checkbox"]:checked:hover + label,
.filter-item input[type="checkbox"]:checked:focus + label,
.filter-item input[type="checkbox"]:hover + label,
.filter-item input[type="checkbox"]:focus + label {
  opacity: 0.9;
}

.filter-item input[type="checkbox"]:checked:active + label,
.filter-item input[type="checkbox"]:active + label {
  opacity: 0.7;
}
