.filter-range {
  position: relative;

  height: 40px;
  width: 200px;
  margin: 0 auto;

  @media (max-width: $tablet-max-width) {
    margin: 0 0 15px;
    width: 304px;
  }

  @media (max-width: $mobile-max-width) {
    width: 100%;
  }
}

.filter-range__scale {
  position: absolute;
  content: "";
  left: 0;
  top: 7px;
  height: 1px;
  width: 100%;
  background-color: #f0eae4;
}

.filter-range__bar {
  position: absolute;
  content: "";
  // left: 50px;
  left: 25%;
  top: 0;
  // width: 110px;
  width: 50%;
  height: 1px;
  background-color: $brown;
  // z-index: 5;
}

.filter-range__toggle-min,
.filter-range__toggle-max {
  position: absolute;
  content: "";
  top: 0;

  width: 15px;
  height: 15px;
  background-color: $brown;
  border-radius: 50%;
  cursor: pointer;

  @media (max-width: $tablet-max-width) {
    width: 18px;
    height: 18px;
  }
}

.filter-range__toggle-min {
  // left: 45px;
  left: 25%;
}

.filter-range__toggle-max {
  // left: 150px;
  left: 75%;
}

.filter-range__price-controls {
  position: relative;
}

.filter-range__max-price,
.filter-range__min-price {
  position: absolute;
  display: block;
  top: 20px;
  width: 50px;
  height: 15px;
  font-weight: 500;
  font-size: 14px;

  @media (max-width: $tablet-max-width) {
    font-size: 16px;
  }
}

.filter-range__min-price {
  // left: 35px;
  left: 25%;
}

.filter-range__max-price {
  // left: 140px;
  left: 75%;
}

.price-controls label {
  display: inline-block;
  vertical-align: top;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}
