.login--page .login__inner {
  margin-top: 30px;
}

.login__inner {
  width: 430px;
  box-sizing: border-box;
  margin-top: 30px auto 0;
  padding: 200px 45px 45px;
  background-color: #f0eae4;
  background-image: url("../img/bg-login-desktop.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 430px 138px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-login-desktop@2x.jpg");
  }

  @media (max-width: $tablet-max-width) {
    width: 442px;
    padding: 200px 50px 42px;
    background-image: url("../img/bg-login-tablet.jpg");
    background-size: 442px 138px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-login-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-max-width) {
    width: 270px;
    padding: 130px 15px 25px;
    background-image: url("../img/bg-login-mobile.jpg");
    background-size: 270px 84px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-login-mobile@2x.jpg");
    }
  }
}

.login__title {
  font-family: "Cormorant Garamond", "Georgia", serif;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  margin: 0 0 35px;

  @media (max-width: $mobile-max-width) {
    font-size: 24px;
  }

  @media (max-width: $mobile-max-width) {
    margin: 0 0 22px;
  }
}

.login__form {
  display: flex;
  flex-direction: column;

  label {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  input {
    border: none;
    border-bottom: 1px solid #1d1613;
    background-color: #f0eae4;
    padding: 10px 3px;

    &:not(:last-of-type) {
      margin-bottom: 27px;
    }

    &::placeholder {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #9b9997;
      opacity: 1;
    }

    &:hover::placeholder,
    &:focus::placeholder {
      color: $text-basic;
    }

    @media (max-width: $mobile-max-width) {
      &:not(:last-of-type) {
        margin-bottom: 22px;
      }
    }
  }
}

.login__forgotten {
  width: 150px;
  align-self: flex-end;
  text-align: right;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #9b9997;
  margin: 5px 0 45px;

  &:hover,
  &:focus {
    color: $text-basic;
    text-decoration: underline;
  }

  &:active {
    color: #000000;
  }

  @media (max-width: $mobile-max-width) {
    margin: 5px 0 38px;
  }
}

.login button[type="submit"] {
  display: block;
  padding: 25px 20px;
  border: none;
  background-color: $brown;
  color: #ffffff;
  font-family: inherit;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.7;
  }
}

.login__sign-up {
  align-self: center;
  color: #9b9997;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  a {
    text-decoration: none;
    color: $text-basic;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
