.filter {
  @media (max-width: $tablet-max-width) {
    // .modal {
    //   position: fixed;
    //   display: flex;
    //   justify-content: center;
    //   align-items: flex-start;
    //   left: 0;
    //   right: 0;
    //   top: 0;
    //   bottom: 0;
    //   z-index: 4;
    //   background-color: rgba(0, 0, 0, 0.8);
    // }

    .modal {
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 4;
      background-color: rgba(0, 0, 0, 0.2);
      overflow-y: auto;
    }

    .modal__inner {
      position: relative;
      width: 458px;
      box-sizing: border-box;
      padding: 40px;
      margin-top: 30px;
      background-color: #ffffff;
      box-shadow: 0 5px 32px rgba(219, 213, 208, 0.24);
      z-index: 5;
    }

    .modal__close {
      position: absolute;
      display: block;
      content: "";
      top: 20px;
      right: 20px;
      width: 17px;
      height: 17px;
      border: none;
      background-image: url("../img/icon-close-filter.svg");
      background-position: 0 0;
      background-repeat: no-repeat;
      background-color: transparent;
      cursor: pointer;

      &:hover,
      &:focus {
        opacity: 0.5;
      }

      &:active {
        opacity: 0.3;
      }
    }

    .modal--closed {
      // display: none;
      opacity: 0;
      visibility: hidden;
    }
  }
}
