.page-header {
  @media (max-width: $tablet-max-width) {
    // position: relative;
  }
}

.page-header__menu-button {
  display: none;

  @media (max-width: $tablet-max-width) {

  }
}

.page-header__top {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  column-gap: 50px;
  max-width: 1170px;
  width: 100%;
  padding-left: 98px;
  padding-right: 98px;
  margin: 0 auto 15px;
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;

  @media (max-width: $tablet-max-width) {
    width: auto;
  }
}

.page-header__logo {
  @media (max-width: $tablet-max-width) {
    grid-column: 2 / 3;
  }
}

.page-header__logo-image path {
  fill: $brown;

  @media (max-width: $tablet-max-width) {
    fill: #ffffff;
  }
}

.page-header__search {
  // order: -1;
  grid-row-start: 1;
  grid-column: 1 / 2;
  margin-top: 13px;

  @media (max-width: $tablet-max-width) {
    // order: 2;
     // didn't work...
  }
}

.page-header__search input {
  @media (max-width: $tablet-max-width) {
    width: 100%;
    box-sizing: border-box;
    background-color: lighten($brown, 15%);
    color: #ffffff;
  }
}

.page-header__login-cart {
  display: flex;
  justify-content: flex-end;

  a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    padding-top: 12px;
  }

  a + a {
    margin-left: 37px;
  }
}

.page-header__login--top {
  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.page-header__jewellery-types {
  display: flex;
  padding-top: 18px;
  padding-bottom: 20px;
  border-top: 1px solid #f6f5f4;

  @media (max-width: $tablet-max-width) {
    border-top: none;
  }
}

.page-header__jewellery-types--bottom-break {
  border-bottom: 1px solid #f6f5f4;

  @media (max-width: $tablet-max-width) {
    border-bottom: none;
  }
}

.page-header__jewellery-inner {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}

.page-header__jewellery-types ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (max-width: $tablet-max-width) {
    flex-direction: column;
  }
}

.page-header__jewellery-item a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  @media (max-width: $tablet-max-width) {
    color: #ffffff;
  }
}

.page-header__jewellery-item + .page-header__jewellery-item {
  margin-left: 35px;

  @media (max-width: $tablet-max-width) {
    margin-left: 0;
  }
}

.page-header__about-info {
  display: none;
}

.page-header__login--bottom {
  display: none;
}

@media (max-width: $tablet-max-width) {
  .page-header__menu-button {
    position: absolute;
    display: block;
    padding: 0;

    top: 20px;
    left: 20px;
    width: 35px;
    height: 30px;
    border: none;
    mask-image: url("../img/icon-menu.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    cursor: pointer;
  }

  .page-header__cart {
    position: relative;
    padding-left: 20px;

    span {
      display: none;
    }

    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 20px;
      height: 18px;
      mask-image: url("../img/icon-cart.svg");
      mask-repeat: no-repeat;
      mask-position: 0 0;
    }
  }

  .page-header--menu-opened {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 778px;
    color: #ffffff;
    background-color: $brown;
    z-index: 1;

    .page-header__menu-button,
    .page-header__cart::before {
      background-color: #ffffff;
    }

    .page-header__cart:hover::before,
    .page-header:focus::before,
    .page-header__menu-button:hover,
    .page-header__menu-button:focus {
      background-color: rgba(#ffffff, 0.7);
    }

    .page-header__cart:active::before,
    .page-header__menu-button:active {
      background-color: rgba(#ffffff, 0.5);
    }

    .page-header__search {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 4;
    }

    // .page-header__search input {

    // }

    .page-header__about-info {
      display: flex;
      flex-direction: column;

      a {
        text-decoration: none;
        color: inherit;
      }

    }

    .page-header__login--bottom {
      display: block;
      text-decoration: none;
      color: inherit;
    }
  }
}

