.photos {
  max-width: 1170px;
  padding-left: 60px;
  padding-right: 60px;
  margin: 0 auto 130px;

  @media (max-width: $tablet-max-width) {
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: 80px;
  }

  @media (max-width: $mobile-max-width) {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 70px;
  }
}

.photos__link {
  margin-bottom: 60px;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 48px;
  }
}

.photos__name {
  font-family: "Cormorant Garamond", "Georgia", serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 130%;
  text-align: center;

  span {
    font-size: 42px;
  }

  @media (max-width: $tablet-max-width) {
    margin-bottom: 23px;
  }
}

.photos__container {
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-min-width) {
    max-width: 678px;
    margin: 0 auto;
  }

  @media (max-width: 550px) {
    flex-wrap: wrap;
    max-width: 290px;
    justify-content: center;
  }
}

.photos__column {
  width: 19.65%;
}

.photos__column--one {
  margin-right: 30px;

  @media (max-width: $tablet-max-width) {
    margin-right: 18px;
  }

  @media (max-width: $mobile-max-width) {
    margin-right: 15px;
  }

  @media (max-width: 550px) {
    width: auto;
  }
}

.photos__column--two {
  margin-right: 30px;

  width: 34.18%;

  @media (max-width: $tablet-max-width) {
    margin-right: 18px;
  }

  @media (max-width: $mobile-max-width) {
    margin-right: 15px;
  }

  @media (max-width: 550px) {
    width: auto;
    margin-right: 0;
  }
}

.photos__column--three {
  margin-right: 15px;

  @media (max-width: $tablet-max-width) {
    margin-right: 9px;
  }

  @media (max-width: $mobile-max-width) {
    margin-right: 7px;
  }

  @media (max-width: 550px) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 9px;
    margin-right: 0;
    justify-content: center;
  }
}

.photos__column--four {
  @media (max-width: 550px) {
    display: none;
  }
}

.photos__photo-wrapper {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  img {
    vertical-align: middle;
    object-fit: cover;
  }

  @media (max-width: 800px) {
    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }

  @media (max-width: 800px) {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.photos__photo-wrapper--one {
  height: 230px;

  img {
    width: 230px;
    height: 230px;
  }

  @media (max-width: 800px) {
    height: 133px;

    img {
      width: 133px;
      height: 133px;
    }
  }

  @media (max-width: 550px) {
    height: 130px;

    img {
      width: 130px;
      height: 130px;
    }
  }
}

.photos__photo-wrapper--two {
  img {
    width: 230px;
    height: 154px;
  }

  @media (max-width: 800px) {
    height: 89px;

    img {
      width: 133px;
      height: 89px;
    }
  }

  @media (max-width: 550px) {
    height: 87px;

    img {
      width: 130px;
      height: 87px;
    }
  }
}

.photos__photo-wrapper--three {
  height: 414px;

  img {
    width: 400px;
    height: 414px;
  }

  @media (max-width: $tablet-max-width) {
    height: 402px;
  }

  @media (max-width: 800px) {
    height: 240px;

    img {
      width: 231px;
      height: 240px;
    }
  }

  @media (max-width: 550px) {
    height: 226px;

    img {
      width: 145px;
      height: 226px;
    }
  }
}

.photos__photo-wrapper--four {
  img {
    width: 232px;
    height: 193px;
  }

  @media (max-width: 800px) {
    height: 111px;

    img {
      width: 134px;
      height: 111px;
    }
  }

  @media (max-width: 550px) {
    height: 121px;

    &:not(:last-child) {
      margin-bottom: 0;
    }

    img {
      width: 145px;
      height: 121px;
    }
  }
}

.photos__photo-wrapper--five {
  width: 94.7%;

  img {
    width: 218px;
    height: 191px;
  }

  @media (max-width: 800px) {
    height: 111px;
    width: 94%;

    img {
      width: 126px;
      height: 111px;
    }
  }

  @media (max-width: 550px) {
    width: auto;
    order: -1;
    margin-right: 15px;
    height: 115px;
    align-self: flex-end;

    img {
      width: 130px;
      height: 115px;
    }
  }
}

.photos__photo-wrapper--six {
  height: 218px;
  margin-left: 16px;

  img {
    width: 218px;
    height: 218px;
  }

  @media (max-width: $tablet-max-width) {
    margin-left: 9px;
  }

  @media (max-width: 800px) {
    height: 126px;

    img {
      width: 126px;
      height: 126px;
    }
  }
}

.photos__photo-wrapper--seven {
  height: 166px;

  img {
    width: 232px;
    height: 166px;
  }

  @media (max-width: 800px) {
    height: 96px;
    margin-top: -1%;
    margin-left: -1%;

    img {
      width: 134px;
      height: 96px;
    }
  }
}
