.search__inner {
  position: relative;
  padding-left: 22px;

  &::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    top: 10px;
    left: 0;
    mask-image: url("../img/icon-search.svg");
    background-color: #000000;
  }

  input {
    box-sizing: border-box;
    padding: 7px 7px;
    width: 220px;
    border: none;
    border-radius: 0;
  }

  input::placeholder {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #9b9997;
  }

  label {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }


  @media (max-width: $tablet-max-width) {
    padding-left: 0;

    &::before {
      top: 13px;
      left: 15px;
      background-color: #ffffff;
    }

    input {
      width: 100%;
      box-sizing: border-box;
      background-color: lighten($brown, 15%);
      color: #ffffff;
      height: 40px;
      border-radius: 21px;
      padding-left: 40px;
      padding-right: 30px;
    }

    input::placeholder {
      color: transparent;
    }
  }
}
