html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 1fr;
  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: $text-basic;
  background-color: $bg-basic;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}
