$bg-basic: #ffffff;
$text-basic: #1d1613;

$mobile-min-width: 320px;
$mobile-max-width: 767px;
$tablet-min-width: 768px;
$tablet-max-width: 1023px;
$desktop-max-width: 1366px;
$beyond-desktop-width: 1367px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
